@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: $primary-font;
}

body {
	margin: 0;
	overflow: auto;
	background-color: $color-white;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	//color: $color-primary-dark;
	font-weight: 500;
	transition: color 0.2s ease-in-out;
	&:hover {
		text-decoration: none;
		font-weight: 400;
	}
}

img {
	max-width: 100%;
	display: block;
}
