$color-grey-light: #f3f6f6;

$primary-font: 'Roboto', sans-serif;
$color-font: #23272f;
$color-font-light: #555555;
$color-primary: #6200ee;
$color-white: #ffffff;
$color-grass: #9bcc50;
$color-poison: #b97fc9;
$color-fire: #fd7d24;
$color-water: #4592c4;
$color-bug: #729f3f;
$color-normal: #a4acaf;
$color-electric: #eed535;
$color-fairy: #fdb9e9;
$color-fighting: #d56723;
$color-psychic: #f366b9;
$color-rock: #a38c21;
$color-steel: #9eb7b8;
$color-ghost: #7b62a3;
$color-ice: #51c4e7;
$color-dragon: #f16e57;
$box-shadow-1:
	0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-2:
	0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
