@use '../abstracts/mixins' as a;

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.875rem;
	padding: 3rem 0;

	@include a.breakpoint(lg) {
		row-gap: 2rem;
		justify-content: flex-start;
	}
}

.card {
	color: $color-white;
	border-radius: 16px;
	padding: 10px 10px 0 10px;
	width: 10.5rem;
	cursor: pointer;

	&:hover {
		box-shadow: $box-shadow-2;
	}

	&-link {
		display: flex;
		text-decoration: none;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 24px;

		& h5 {
			margin: 0;
			font-size: 1.25rem;
			font-weight: 500;
			align-self: flex-end;
		}
	}

	&-body {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 10px 0;
	}

	&-img {
		max-width: 120px;
		align-self: flex-end;
	}

	&-pills {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
}
